@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 antialiased;
    font-feature-settings: 'cv11', 'ss01';
    font-variation-settings: 'opsz' 32;
  }

  * {
    @apply border-slate-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
